@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  font-family: 'Fira Sans', sans-serif;
  background-color: #cbd5e1;
}

.btn-dark {
  @apply py-2 px-8 bg-blueGray-800 text-xl text-blueGray-300 font-semibold border-2 border-blueGray-800 rounded-2xl transition hover:bg-transparent hover:text-blueGray-800;
}

.btn-red {
  @apply py-2 px-8 bg-red-700 text-xl text-blueGray-300 font-semibold border-2 border-red-700 rounded-2xl transition hover:bg-transparent hover:text-red-700;
}

.btn-green {
  @apply py-2 px-8 bg-emerald-700 text-xl text-blueGray-300 font-semibold border-2 border-emerald-700 rounded-2xl transition hover:bg-transparent hover:text-emerald-700;
}
