@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  font-family: 'Grandstander', cursive;
  background-color: #cbd5e0;
}

.btn-dark {
  @apply bg-gray-900 text-xl text-gray-400 font-medium border-2 border-gray-900 rounded-2xl transition-all duration-300;
}
