@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  font-family: 'Fira Sans', sans-serif;
  background-color: #cbd5e1;
}

.btn-dark {
  @apply py-2 px-8 bg-blueGray-800 text-sm sm:text-xl text-center text-blueGray-300 font-semibold border-2 border-blueGray-800 rounded-2xl transition hover:bg-transparent hover:text-blueGray-800 focus:outline-none focus:ring;
}

.btn-red {
  @apply py-2 px-8 bg-red-700 text-sm sm:text-xl text-center text-blueGray-300 font-semibold border-2 border-red-700 rounded-2xl transition hover:bg-transparent hover:text-red-700 focus:outline-none focus:ring;
}

.btn-green {
  @apply py-2 px-8 bg-emerald-700 text-sm sm:text-xl text-center text-blueGray-300 font-semibold border-2 border-emerald-700 rounded-2xl transition hover:bg-transparent hover:text-emerald-700 focus:outline-none focus:ring;
}

.btn-dark-sm {
  @apply px-2 py-1 rounded-lg bg-blueGray-800 text-blueGray-300 border-blueGray-800 border-2 transition hover:bg-blueGray-300 hover:text-blueGray-800;
}

.text-title {
  @apply mb-5 font-semibold text-lg md:text-xl text-center;
}

.text-error {
  @apply mt-2 text-red-600 text-xs sm:text-sm font-semibold text-center;
}

.text-auth {
  @apply mt-4 font-semibold text-center text-sm sm:text-base;
}

.auth-container {
  @apply flex flex-col justify-center items-center w-full sm:w-1/2;
}

.form {
  @apply flex flex-col text-sm sm:text-sm xl:text-lg;
}

.input {
  @apply shadow appearance-none border rounded py-2 px-3 text-blueGray-800 leading-tight focus:outline-none focus:ring;
}
